.topbottom {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.second {
  font-family: "verdana";
  font-size: 42px;
  font-weight: 300;
  color: white;
  text-align: center;
}

body {
  background-color: black;
  font-family: "verdana";
}

p {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

#gray {
  color: gray;
  font-size: 21px;
  font-family: "verdana";
}

.excursion {
  color: gray;
  text-align: right;
  font-size: 21px;
  font-family: "verdana";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: aquamarine;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}
